* {
  margin: 0;
  padding: 0;
  font-family: GeistSans;
}

body {
  background-color: #202020;
}

/* pages container */

.container {
  color: #f8f8f8;
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

/* left sidebar */

.left-fix {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
}

.left-list {
  background-color: #181818;
  flex-direction: column;
  text-transform: initial;
  height: 100vh;
  width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sidebarButtonClosed {
  margin: 50px 30px;
  padding: 20px;
  background-color: #202020;
  color: #f8f8f8;
  font-weight: bold;
  font-size: 1em;
  border: none;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.sidebarButtonOpen {
  max-height: 67px;
  margin: 50px 10px;
  padding: 20px;
  background-color: #202020;
  color: #f8f8f8;
  font-weight: bold;
  font-size: 1em;
  border: none;
  border-radius: 10px;
}

.sidebarButtonClosed:hover {
  cursor: pointer;
  background-color: #282828;
}

.sidebarButtonOpen:hover {
  cursor: pointer;
  background-color: #282828;
}

.left-list h1 {
  margin: 50px 10px;
}

.left-list a {
  text-decoration: none;
  color: #f8f8f8;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.innerdiv {
  text-align: left;
  padding: 15px;
  margin: 10px 20px;
  border-radius: 15px;
}

.innerdiv::first-letter {
  text-transform: uppercase;
}

.innerdiv:hover {
  background-color: #222222;
}

/* header */

.header {
  padding: 50px;
  font-size: 1.2em;
  letter-spacing: -3%;
}

/* top-right action button */

.ActionButton {
  position: fixed;
  top: 50px;
  right: 30px;
  text-decoration: none;
  border: 2px solid #505050;
  color: #f8f8f8;
  font-size: 1em;
  font-weight: bold;
  border-radius: 20px;
  padding: 20px 40px;
  transition: 0.2s ease-in-out;
}

.ActionButton:hover {
  border-color: #ff9000;
  /* quero adicionar a animação aqui*/
}

/* content, posts */

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.post-container {
  background-color: #252525;
  width: 800px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 15px;
}

.created_at {
  color: #ff9000;
  text-align: center;
  margin-bottom: 20px;
}

.post-titulo {
  text-transform: initial;
  font-weight: 800;
  letter-spacing: -3%;
  font-size: 3em;
}

.post-titulo::first-letter {
  text-transform: uppercase;
}

.post-subtitulo {
  margin: 30px 10px;
  font-size: 1.2em;
  color: #868686;
  font-weight: 200;
  font-style: italic;
}

.post-subtitulo::first-letter {
  text-transform: uppercase;
}

.post-corpo {
  text-align: justify;
  margin: auto;
  width: 85%;
  font-size: 18px;
  line-height: 1.8;
}

.corpo::first-letter {
  text-transform: uppercase;
}

/* Write page */

.form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 800px;
}

.form-titulo,
.form-subtitulo,
.form-corpo {
  line-height: 40px;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 30px 10px;
  font-size: 18px;
  border: 1px solid #d7d7d7;
}

.form-corpo {
  height: 200px;
}

.form button {
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-size: 1.5em;
  border: none;
  background-color: #065d90;
}
